*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    font-size: 16px;
    background-color: #000;
    color: #fff;
    line-height: 1.5;
} 

/* HEADER SECTION-------- */

#header-con{
    background-color: #000;
    width: 100%;
    height: 60px;
}

#header{
    display: flex;
    background-color: rgb(20, 19, 19);
    height: 60px;
    width: 100%;
    position: fixed;
}

#header #Logo{
    width: 150px;
    height: 100%;
    margin-left: 50px;
}

#header #Logo img{
    width: 100%;
    height: 100%;
}

#nav-bar {
    color: #fff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#nav-bar #search-box{
    margin-left: 18%;
    width: 660px;
    background-color: rgb(51, 50, 50);
    border-radius: 2px;
    border: 1px solid rgb(48, 47, 47);
}


#nav-bar #search-box .search{
    width: 100%;
    height: 42px;
}

#nav-bar #search-box .search input{
    width: 90%;
    height: 100%;
    background-color:#000;
    font-size: 1.2rem;
    padding-left: 10px;
    color: #fff;
    border: none;
}

#nav-bar #search-box .search .search-icon{
    margin-left: 15px;
}



#nav-bar #search-box .search input:focus{
    outline: 1px solid rgb(63, 63, 223);
}

#nav-bar #link-icon{
    margin-right: 40px;
    display: flex;
    width: 15%;
    justify-content: space-around;
} 

/* CONTENT SECTION-------------- */

#content{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

#content #main-container {
    width: 60%;
    padding-right: 25px;
    padding-top: 20px;
}

#content #main{
    position: fixed;
    width: 46%;
}

#content #main .activity-section{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

#content #main .react-section{
    display: flex;
}

#content #main .activity-section .views{
    display: block;
    padding-top: 10px;
    color: rgb(179, 170, 170);
}

#content #main .react-section .action{
    padding: 8px 10px;
}

#content #main .react-section .icon{
    margin-right: 10px;
}

/* --------SIDEBAR SECTION------ */

#content #sidebar{
    width: 40%;
    padding-top: 10px;
}

#content #sidebar #btn{
    margin-bottom: 15px;
}

#content #sidebar #btn #btn-all{
    border-radius: 50px;
    padding: 8px 15px;
    color: rgb(128, 119, 119);
}

#content #sidebar #btn #btn-recently{
    border-radius: 50px;
    padding: 8px 15px;
    background-color: rgb(48, 47, 47);
    color: rgb(209, 205, 205);
    border: 1px solid rgb(73, 69, 69);
    margin-left: 5px;
}

#content #sidebar .preview{
    display: flex;
    height: 170px;
    margin-bottom: px;
}

#content #sidebar .preview .body{
    padding-left: 10px;
}

#content #sidebar .preview .body .title{
    margin-top: 30px;
    font-size: 14px;
}

#content #sidebar .preview .body .views{
    font-size: 11px;
    margin-top: 15px;
    color: rgb(179, 170, 170);
}

/**************DESKTOP***************/

@media (min-width: 768px) {
    #header_content {
      padding: 0 90px;
    }
  
    .nav-icon {
      display: none;
    }
  
    #nav-links {
      display: flex;
      color: #fff;
    }
  
    #nav-links li a {
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
    }
  
    #nav-links li:nth-child(4) a {
      font-size: 12px;
      position: relative;
      bottom: 2px;
    }
  
    #nav-links li a:hover {
      text-decoration: underline;
      color: #b7c1d3;
    }
  
    #main {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      background-image: url("images/Illustration-header\ desktop.png");
      background-size: contain;
    }
  
    #main-article {
      margin: 0 30px;
    }
  
    h1 {
      font-size: 72px;
      width: 400px;
      font-weight: 400;
      line-height: 82px;
    }
  
    .work-title h2 {
      text-align: left;
    }
  
    #main h2 {
      font-family: inherit;
      font-weight: 500;
      line-height: 44px;
      font-size: 32px;
    }
  
    #main-article .description {
      width: 550px;
      font-family: inherit;
      font-size: 20px;
      line-height: 32px;
      color: #f4f5f7;
    }
  
    footer .social-media {
      margin-bottom: 0;
    }
  
    #main .social-media {
      flex-direction: column;
    }
  
    #tools li {
      text-align: left;
    }
  
    #main .social-media li {
      padding: 10px;
    }
  
    #work,
    #about-content,
    .footer-content {
      width: 87%;
    }
  
    .work-title {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
  
    .work-title .text {
      width: 240px;
    }
  
    .img-mobile {
      display: none;
    }
  
    .img-desktop {
      display: block;
    }
  
    .horizontal-line {
      width: 1070px;
    }
  
    hr {
      position: relative;
      top: 20px;
    }
  
    #work-content {
      display: grid;
      grid-template-columns: auto auto auto;
    }
  
    .pr-1 {
      grid-column: 1/4;
      display: flex;
      column-gap: 20px;
      height: 450px;
      margin-bottom: 10px;
    }
  
    .pr-1 .image {
      width: 55%;
    }
  
    .pr-1 img {
      width: 100%;
      height: 100%;
    }
  
    .pr-1 .body {
      width: 40%;
    }
  
    footer h3 {
      text-align: left;
    }
  
    .pr-1 h3 {
      font-size: 40px;
      line-height: 52px;
    }
  
    .pr-1 p {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 20px;
    }
  
    .project ul {
      width: 55%;
    }
  
    .bg-img {
      padding-top: 60px;
      margin: 8px;
      padding-bottom: 0;
      height: 450px;
    }
  
    .bg-img:hover {
      cursor: pointer;
      border: 1px solid #091a42;
      background-image: url("images/Img\ Placeholder\ \(2\).png");
    }
  
    .btn-desktop .body-content {
      position: absolute;
      bottom: 10px;
    }
  
    .bg-img:hover .body-content {
      display: none;
    }
  
    .btn-desktop button {
      display: none;
    }
  
    .bg-img:hover button {
      display: block;
      position: absolute;
      bottom: 0;
    }
  
    .bg-img ul {
      width: 220px;
    }
  
    .pr-2 {
      position: relative;
      background-image: url("images/Img\ Placeholder\ \(1\).png");
    }
  
    .pr-3 {
      background-image: url("images/Img\ Placeholder\ \(3\).png");
    }
  
    .pr-4 {
      background-image: url("images/Img\ Placeholder\ \(4\).png");
    }
  
    .pr-5 {
      background-image: url("images/Img\ Placeholder\ \(1\).png");
    }
  
    .pr-6 {
      background-image: url("images/Img\ Placeholder\ \(3\).png");
    }
  
    .pr-7 {
      background-image: url("images/Img\ Placeholder\ \(4\).png");
    }
  
    .btn-desktop {
      position: relative;
    }
  
    .btn-desktop h3,
    .btn-desktop p {
      margin-bottom: 22px;
    }
  
    #about {
      background-image: url("images/illustration-about\ me@2x.png");
      background-repeat: no-repeat;
      background-position: top 80px right;
      background-size: 500px;
    }
  
    #about .body {
      padding-bottom: 0;
      background-image: none;
      margin-bottom: 80px;
    }
  
    #about .about-description,
    #about h1 {
      text-align: left;
    }
  
    #about .about-description {
      padding-left: 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      width: 590px;
      margin-bottom: 30px;
    }
  
    #about .about-description,
    #about button {
      margin-left: 0;
    }
  
    #about-content hr {
      margin-bottom: 100px;
    }
  
    #tools {
      display: flex;
      flex-direction: row;
      align-items: none;
      justify-content: space-between;
      margin-right: 280px;
    }
  
    .list-1 {
      position: relative;
      bottom: 75px;
    }
  
    .footer-content {
      margin: 50px auto 100px;
      display: flex;
      justify-content: space-between;
    }
  
    .footer-body {
      width: 400px;
      font-weight: 700;
      font-size: 40px;
      line-height: 52px;
      color: #262626;
      text-align: left;
    }
  
    form {
      width: 65%;
    }
  
    footer .social-media::after {
      display: none;
    }
  
    form .btn {
      text-align: left;
    }
  }